html {
  background-color: black;
  text-align: center;
  font-family: verdana;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

a {
  color: aquamarine;
  font-size: 16 px;
}

.gray {
  color: gray;
  font-size: 21 px
}

.footer {
  text-align: right;
  color: gray;
  fotn-size: 16px;
}

.underline{
    text-decoration: underline;
}
